p {
    color: orange;
}

div p {
    background-color: green;
}

div h2 {
    color: red;
}

p,h2 {
    font-style: italic
}

div h2,p {
    font-weight: bold;
}

#test {
    background-color: blue;
}

#test p {
    color: magenta;
}

#test p,h2 {
    font-size: 10px;
}

.www {
    color: maroon;
    background-color: mediumaquamarine;
}

p.www {
    color: mediumvioletred;
}

.test,.xxx {
    background-color: orangered;
}

p.test,.www {
    background-color: slateblue;
}

#test p.www {
    background-color: thistle;
}

#test i {
    font-weight: bold;
}

.www.xxx {
    background-color: brown;
}

p.test.xxx {
    color: white;
}

.test.www.xxx {
    background-color: red;
}

p > a {
    font-style: italic;
}

p > i {
    font-weight: bold;
}

ul > li {
    background-color: brown;
}

b + i {
    color: crimson;
}

#test b + i {
    color: cyan;
}

ul + p {
    background-color: purple;
}

h1 + p {
    background-color: black;
}

#test h2 + p {
    background-color: cadetblue;
}

* {
    display: flex;
    flex-direction: column;
}

p > * > i {
    color: yellow;
}

[title] {
    background-color: tomato;
}

p[title] {
    color: blue;
}

p[title=title] {
    color: blueviolet;
}

a[href^="#"] {
    text-decoration: underline;
    color: blue;
}

a[href$=".html"] {
    text-decoration: underline;
    color: red;
}

p[title~="hello"] {
    text-decoration: overline;
    color: green;
}

p[class^="top-"] {
    color: seagreen;
}

ol {
    display: grid;
    grid-template-areas: "a a a"
                         "a a a"
                         "a a a";
}

ol > li {
    margin: 2%;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color: blue;
}

ol > li:hover {
    background-color: green;
}

ol.ol1 > li:hover + li {
    background-color: red;
}

ol.ol2 > li:hover + li + li {
    background-color: red;
}

ol.ol3 > li:hover ~ li:not(:last-child) {
    background-color: red;
}